.profile-page {
  display: flex;
  align-items: flex-start;
  min-height: 60vh;
  background-color: #f9f9f9;
  border: 3px solid #ddd;
  border-radius: 10px;
}
.profile-sidebar {
  display: flex;
  flex: 3;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  height: 60vh;
  width: 50vw;
  font-size: 1.2rem;
}
.profile-header {
  display: flex;
  flex: 1;
  height: 90%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.profile-podaci {
  flex: 1;
  padding: 10px;
  gap: 5px;
  border-radius: 30px;
}

.profile-jezici {
  flex: 1;
  padding: 10px;
  border-radius: 30px;
  overflow-y: auto;
}

.profile-jezici p {
  font-size: 1rem;
}
.profile-sidebar span {
  background-color: #613c78;
  color: white;
  font-size: 1.2rem;
  font-weight: 450;
  padding: 5px;
  border-radius: 10px;
}
.profile-imagetext {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-picture-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 0px;
}
.profile-name,
.profile-surname {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}
.profile-buttons{
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}

.edit-button {
  display: flex;
  flex: 1;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 5px 0;
  font-size: 1.2rem;
}
p {
  padding: 1px 0px;
}

.profile-sidebar span {
  font-size: 1.3rem;
  margin: 15px 0;
}

.profile-sidebar p {
  font-size: 1.15rem;
  margin: 10px 0;
}

.calendar-button,
.teachers-button,
.edit-profile-button,
.zahtjevi-button,
.jezici-koje-znam > button,
.jezici-koje-znam > div > button,
.jezici-koje-zelim-nauciti > button,
.jezici-koje-zelim-nauciti > div > button,
.odjava-button,
.calendar-button,
.admin-button,
.lections-button,
.recenzije-button {
  background-color: #613c78;
  padding: 10px 15px; 
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center; 
  width: auto;
}

.spremi-zatvori > button,
.jezici-koje-znam > button,
.jezici-koje-zelim-nauciti > button,
.tooltip-container {
  width: auto;
}

.calendar-button:hover,
.teachers-button:hover,
.edit-profile-button:hover,
.jezici-koje-znam > button:hover,
.jezici-koje-znam > div > button:hover,
.jezici-koje-zelim-nauciti > button:hover,
.jezici-koje-zelim-nauciti > div > button:hover,
.spremi-zatvori > button:hover {
  background-color: #4a2c5f;
}

.modal {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 90%; 
  max-width: 500px; 
  height: auto; 
  max-height: 80vh; 
  background: white;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7); 
  z-index: 999;
}

.modal.open {
  display: flex; 
  flex-direction: column;
}

.modal-content {
  padding: 20px;
  overflow-y: auto; 
  max-height: calc(80vh - 40px); 
}

/* Za uređaje ispod 768px */
@media (max-width: 768px) {
  .modal {
    width: 95%; 
    max-width: none; 
  }
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
    border-radius: 0; 
  }
}



.jezici-koje-znam > div,
.jezici-koje-zelim-nauciti > div {
  display: flex;
  gap: 7px;
  padding: 4px 0px;
}

.jezici-koje-znam > button,
.jezici-koje-znam > div > button,
.jezici-koje-zelim-nauciti > button,
.jezici-koje-zelim-nauciti > div > button,
.tooltip-container > :nth-child(1) {
  background-color: #613c78;
  padding: 5px 8px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.spremi-zatvori {
  background: white;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.spremi-zatvori > button {
  background-color: #613c78;
  color: #fff;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 5vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal.open {
  display: flex;
  animation: fadeIn 0.3s ease-out;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #333;
}

.styles-section {
  margin-top: 20px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.styles-section h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.satnica-section input {
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tooltip-container {
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.learning-goals-section {
  margin-top: 20px;
}

.learning-goals-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.learning-goals-box textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  resize: none;
  outline: none;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

.logo-link {
  position: absolute;
  top: 5px;
  left: 5px;
  text-decoration: none;
}

.logo {
  width: 55px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo-link img {
    border-radius: 20%;
    image-rendering: auto;
}

.recenzije-button {
  background-color: #f9f9f9;
  color: black;
}


.role-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.role-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.role-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.role-button {
  flex-basis: calc(50% - 200px);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.role-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .profile-page {
    flex-direction: column;
    height: auto; 
    width: 90vw;
    padding: 10px;
    margin-left: 20px;
  }

  .profile-sidebar {
    width: 100%;
    border-right: none;
    padding: 10px;
    margin-bottom: 10px; 
    height: auto;
  }

  .profile-header {
    width: 100%;
    align-items: flex-start; 
    padding: 10px;
    flex-direction: row; 
    justify-content: center; 
    gap: 10px; 

  }

  .profile-buttons, .edit-button {
    flex-direction: column; 
    align-items: stretch;
    margin-left: 30px;
  }

  .calendar-button,
  .teachers-button,
  .edit-button {
    width: 85%;
    margin-top: 10px;
  }

  .logo {
    width: 35px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .profile-sidebar,
  .profile-header {
    width: 100%; 
    margin-left: 82px;
  }

  .profile-picture-large {
    width: 60px; 
    height: 60px;
  }
  .profile-name,
  .profile-surname {
    font-size: 1.2em; 
    text-align: left;
  }

  .profile-sidebar span {
    font-size: 1rem; 
    margin: 10px 0;
  }

  .calendar-button,
  .teachers-button {
    padding: 10px 15px;
    font-size: 0.9rem; 
  }
}
