body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    padding: 0 10px; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    min-height: 80vh;
    max-height: 90vh;
    min-width: 65vh;
    max-width: 75vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; 
}

.gray {
    background: #eaeaea;
    color: 676767;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 100%;
    }

    .text {
        font-size: 24px; 
    }

    .input {
        width: 100%; 
    }

    .input input {
        font-size: 14px; 
        padding: 0 5px; 
    }

    .submit {
        width: 100%; 
        max-width: 180px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 50px;
}

.text {
    color: #613c78;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.underline {
    width: 100px;
    height: 6px;
    background: #613c78;
    border-radius: 9px;
    margin-bottom: 15px;
}

.inputs {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; 
}

.input {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%; 
    max-width: 400px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0 15px;
}

.input input {
    flex-grow: 1; 
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 15px;
}

.odabir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 300px; 
    margin: auto;
    height: 70px;
}

.odabir label {
    font-size: 18px;
    font-weight: 450;
}

.ima_racun {
    margin: 15px auto;
    color: #797979;
    font-size: 18px;
    text-align: center;
}

.ima_racun span {
    color: #613c78;
    cursor: pointer;
}

.forgot-password {
    margin: 34px auto;
    color: #797979;
    font-size: 18px;
    text-align: center;
}

.forgot-password span {
    color: #613c78;
    cursor: pointer;
}

.submit-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px auto;
    width: 100%; 
    align-items: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 180px;
    height: 40px;
    color: #fff;
    background: #613c78;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.teacher-button {
    position: absolute;
    top: -0.5%;
    right: -2.2%;
    width: 100%; 
    max-width: 150px;
    height: 50px;
    color: #fff;
    background: #613c78;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


